.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
}

table thead tr td:hover {
  cursor: pointer;
  background-color: rgb(38, 77, 114);
}
table tbody tr td {
  padding: 10px;
  width: 100px;
}
table {
  background-color: rgb(240, 238, 238);
  box-shadow: rgb(187, 186, 186) 2px 3px 4px;
}
.head {
  background-color: rgb(24, 59, 92);
  color: aliceblue;
  width: 100px;
  padding: 10px;
}
.headSelected {
  background-color: rgb(57, 102, 139);
  color: aliceblue;
  width: 100px;
  padding: 10px;
}
.head:hover {
  cursor: pointer;
  background-color: rgb(38, 77, 114);
}

.head:focus {
  background-color: rgb(228, 234, 240);
}
.weekDays {
  display: flex;
  flex-direction: row;
}
