.App {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(
        to right,
        rgba(92, 193, 190),
        rgba(240, 182, 247)
    );
    padding: 20px;
}

.circle {
    width: 200px;
    height: 200px;
    position: fixed;
    background: radial-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 50%;
    padding: 0;
    z-index: 0;
}

#circle1 {
    top: 5%;
    right: 5%;
}
#circle2 {
    bottom: 5%;
    left: 5%;
}

.glassBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 10px;
    z-index: 1;
    backdrop-filter: blur(2rem);
}

table tbody tr td {
    padding: 10px;
    width: 100px;
}

table tbody tr .lastRow {
    border-top: 2px solid rgb(24, 59, 92);
}

.icon-td {
    width: 50px;
}

table {
    box-shadow: rgba(201, 197, 197, 0.3) 2px 3px 4px;
    background: linear-gradient(
        to right,
        rgba(168, 238, 236, 0.5),
        rgba(250, 200, 242, 0.3)
    );
    border-radius: 10px;
}
.head {
    background-color: rgb(24, 59, 92);
    color: aliceblue;
    width: 100px;
    padding: 10px;
}
.headSelected,
button:focus {
    background-color: rgb(57, 102, 139);
    color: aliceblue;
    width: 100px;
    padding: 10px;
}
.head:hover,
button:hover {
    cursor: pointer;
    background-color: rgb(38, 77, 114);
}

.head:focus {
    background-color: rgb(228, 234, 240);
}
.weekDays {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
}
button {
    background-color: rgb(24, 59, 92);
    color: aliceblue;
    width: 100px;
    padding: 10px;
}

.signOut {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#date {
    display: block;
    background-color: rgb(157, 188, 212);
    color: black;
}

.sessionTable {
    margin: 10px;
}

input {
    padding: 10px;
    width: 100px;
    background-color: transparent;
}

.deleteIcon {
    padding: 3px;
}

.addSessionForm {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    padding: 10px;
    
    margin: 10px;
}
.addSessionForm input {
    width: 60%;
}

.sessionTitle {
    align-self: center;
    display: flex;
    align-items: center;
    width: 30%;
    /* background-color: antiquewhite; */
    justify-content: space-between;
}

.date-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    /* background-color: ivory; */
}
